.navBar {
    position: sticky;
    top: 10px;
    margin: 10px auto 10px;
    background-color: #add8e6;
    width: 97.5%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    outline: 2px solid #add8e6;
    outline-offset: 1.5px;
    transition: all 0.75s ease-out;

}

a {
    color: black;
    position: relative;
    width: max-content;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    transition: all 0.5s;
}

a::after {
    background: black;
    content: '';
    height: 2.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.9s ease-in-out;
}

a:hover::after {
    transform: scaleX(1.01);
}

a:hover {
    font-size: 22px;
}