.button{
    width: 25px;
    height: 25px;
    background-color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;

    margin: 10px;
}

.button:hover{
    border-radius: 50%;
}