.button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    color: white;
    background-color: #115688;
}

.secondary {
    color: #a5a7aa;
    background-color: #25272a;
}

.tertiary {
    color: #a5a7aa;
    background-color: white;
}